.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h2 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

input[type="file"] {
  margin: 10px 0;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 15px 30px; /* padding değerlerini artırarak butonu büyüttük */
  border: none;
  cursor: pointer;
  font-size: 18px; /* font boyutunu artırarak buton metnini büyüttük */
  align-self: flex-end;
}

input[type="submit"]:hover {
  background-color: #444;
}


#preview {
  display: none;
  width: 200px;
  height: 200px;
}
